@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* width */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}